{% extends "blog/base.html" %}
{% block content %}
<h2>My Profile</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
</form>
<li>
<p>Want to change your password? 
   <a href="{% url 'password_change' %}">Click here</a>
</p>
</li>
{% endblock %}




<!-- 
<form method="post">
    {% csrf_token %}
    <label>Email:</label>
    <input type="email" name="email" value="{{ user.email }}" required>
    <button type="submit">Update</button>
</form> -->